@model WebApplication2.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>
<table class="table">
    <tr>
        <th>ProductID</th>
        <td>@Model.ProductID</td>
    </tr>
    <tr>
        <th>ProductName</th>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <th>CategoryID</th>
        <td>@Model.CategoryID</td>
    </tr>
    <tr>
        <th>CategoryName</th>
        <td>@Model.Category.CategoryName</td>
    </tr>



</table>
<a href="/Products/index">Back To Product List</a>

