@model WebApplication2.Models.Category
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Delete Category</h2>
<form action="/Category/Delete/@Model.CategoryID" method="post">
    <table class="table">
        <tr>
            <td>
                <label for="CategoryName">Category Name</label>
            </td>
            <td>
                <input type="hidden" name="CategoryID" value="@Model.CategoryID" />@Model.CategoryName
            </td>
        </tr>
    </table>
    <div>Are You Sure To Delete This Category</div>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-success" href="/Category/index">Cancel</a>
</form>

